/**
 * Site header
 */

$header-height: 80px;

.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: $header-height;

    .wrapper {
        max-width: 100%;
    }
}

.site-title {
    font-size: 26px;
    line-height: $header-height;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    position: relative;

    &,
    &:visited {
        color: $grey-color-dark;
    }

    &:after {
        display: block;
        content: 'alpha v0.7.1';
        right: -73px;
        bottom: -3px;
        color: #cccccc;
        position: absolute;
        font-size: 14px;
    }
}

.site-nav {
    float: right;
    line-height: $header-height;
    font-size: 17px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        display: inline-block;

        margin: 5px;
        padding: 8px 12px;
        @include border-radius(3px);

        &:hover {
            background-color: $grey-color-lightest;
            text-decoration: none;
        }

        &.page-link-bordered {
            border: 2px solid #AFB5B8;
        }
    }

    @include breakpoint(small) {

        @include position(fixed, 0px -200px 0px null);
        width: 200px;
        background-color: $brand-color-dark;
        z-index: 10000;

        @include transition(transform, 0.2s, 0s, ease);

        .page-link {
            color: white;
            margin: 12px;
            display: block;
            padding: 5px 10px;

            &:hover {
                background: none;
                text-decoration: none;
            }
        }
    }
}

.mobile-menu-btn {
    display: none;
}

@include breakpoint(small) {

    .mobile-menu-btn {
        display: block;
        @include position(absolute, 10px 10px null null);
        padding: 16px 11px;
        font-size: 24px;
        color: $brand-color-dark;
        &:hover {
            color: $brand-color-dark;
        }
    }

    body.menu-open {
        .site-nav {
            @include transform(translate3d(-200px, 0, 0));
        }

        &::before {
            content: '';
            display: block;
            @include position(fixed, 0px 0px 0px 0px);
            z-index: 9999;
            background-color: $brand-color-dark;
            opacity: 0.5;
        }
    }
}