<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.body_class }}">
    {% javascript main %}

    {% include header.html %}

    <!-- INCLUDE VIZABI BEFORE CONTENT (JUST FOR EXAMPLE PURPOSES) -->
    <!-- D3 -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.js"></script>

    <!-- VIZABI -->
    <link rel="stylesheet" href="/node_modules/vizabi/build/dist/vizabi.css">
    <script type="text/javascript" src="/node_modules/vizabi/build/dist/vizabi.js"></script>

    <script type="text/javascript" src="/node_modules/vizabi-ws-reader/dist/bundle.web.js"></script>
    
    <link rel="stylesheet" href="/node_modules/vizabi-bubblechart/build/dist/bubblechart.css">
    <script type="text/javascript" src="/node_modules/vizabi-bubblechart/build/dist/bubblechart.js"></script>

    <link rel="stylesheet" href="/node_modules/vizabi-mountainchart/build/dist/mountainchart.css">
    <script type="text/javascript" src="/node_modules/vizabi-mountainchart/build/dist/mountainchart.js"></script>

    <link rel="stylesheet" href="/node_modules/vizabi-linechart/build/dist/linechart.css">
    <script type="text/javascript" src="/node_modules/vizabi-linechart/build/dist/linechart.js"></script>

    <link rel="stylesheet" href="/node_modules/vizabi-barrankchart/build/dist/barrankchart.css">
    <script type="text/javascript" src="/node_modules/vizabi-barrankchart/build/dist/barrankchart.js"></script>

    <link rel="stylesheet" href="/node_modules/vizabi-bubblemap/build/dist/bubblemap.css">
    <script type="text/javascript" src="/node_modules/vizabi-bubblemap/build/dist/bubblemap.js"></script>

    <link rel="stylesheet" href="/node_modules/vizabi-popbyage/build/dist/popbyage.css">
    <script type="text/javascript" src="/node_modules/vizabi-popbyage/build/dist/popbyage.js"></script>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}


  </body>

</html>
