<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ layout.body_class }}">
    {% javascript main %}

    {% include header.html %}

    <!-- INCLUDE VIZABI BEFORE CONTENT (JUST FOR EXAMPLE PURPOSES) -->
    <!-- D3 -->
    <script src="//d3js.org/d3.v4.min.js"></script>

    <!-- VIZABI -->
    <link rel="stylesheet" href="//s3-eu-west-1.amazonaws.com/static.gapminderdev.org/vizabi.css">
    <link rel="stylesheet" href="//s3-eu-west-1.amazonaws.com/static.gapminderdev.org/bubblechart.css">
    <script src="//s3-eu-west-1.amazonaws.com/static.gapminderdev.org/vizabi.js"></script>
    <script src="//s3-eu-west-1.amazonaws.com/static.gapminderdev.org/preview/master/assets/vendor/js/vizabi-ws-reader/vizabi-ws-reader.js"></script>
    <script src="//s3-eu-west-1.amazonaws.com/static.gapminderdev.org/ConfigBubbleChart.js"></script>
    <script src="//s3-eu-west-1.amazonaws.com/static.gapminderdev.org/bubblechart.js"></script>

    <div class="start-splash" id="home-splash">
      <div class="start-splash-bubbles" id="start-splash-bubbles"></div>
      <div class="start-splash-content">
        <!-- <p class="logo">{% image logo-white.png %}</p> -->
        <h1>Interactive charts and visualization tools animated through time</h1>
        <h2>You can freely embed Vizabi to your page, add your own data, or extend it to create new visualizations and modify existing ones.</h2>
        <p><a href="/examples/" class="start-btn">Examples</a> <a href="{{ site.download_address }}" class="start-btn">Download</a></p>
      </div>
      <div class="start-splash-embeddable">
        {% include home/embeddable.html %}
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.20/p5.js"></script>
    {% javascript splash defer async %}


  </body>

</html>
